/* Enter your Styles below! */


body {
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	background-color: white;
	 }

h1, h2, h3, h4 {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
}

h1 {
	font-size: 36px;
	text-align: right;

}

h2 {
	font-size: 36px;
}




blockquote {
	margin: 20px 60px;
	font-family: Helvetica, sans-serif;
}

header {margin-bottom: 20px;}

/* ensures that your images stretch the width of their containers */
img { width: 100%; }

a {
	color: red;
	text-decoration: none;
	 }
a:hover { color: black; }

.photo > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.marquee {
	margin: 0 auto;
	white-space: nowrap;
	overflow: hidden;
	position: absolute;
}

.marquee span {
	display: inline-block;
	padding-left: 100%;
	animation: marquee 20s linear infinite;
}

.marquee2 span {
	animation-delay: 10s;
}

@keyframes marquee {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}


div{
	border-right: 1px solid black;
	padding: 20px;
}


div:last-child{
	border: 0px;
	padding: 20px;
}

.grid-1,  .grid-2, .grid-3, .grid-4, .grid-5, .grid-6{
	width: 100%;
	margin: auto;
}

.grid-1 {
	display: grid;
	grid-template-columns: 1fr 2fr;
	border: solid 1px;
}

.grid-2{
	display: block;
	border: solid 1px;
	overflow-x: auto;
}

.grid-3{
	display: grid;
	grid-template-columns: 2fr 1fr;
	border: solid 1px;
	image-resolution: from-image;
}

.grid-4{
	display: block;
	border: solid 1px;
}

.grid-5{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	border: solid 1px;
}

.grid-6{
	display: grid;
	grid-template-columns: 1fr 1fr;
	border: solid 1px;
}

	.vimeo-wrapper {
	   position: fixed;
	   top: 0;
	   left: 0;
	   width: 100%;
	   height: 100%;
	   z-index: -1;
	   pointer-events: none;

	}
	iframe {
	   max-width: 640px;
	   max-height: 480px;
	   min-height: 240px;
	   min-width: 320px;

	}












@media only screen and (min-width:768px) {


	.grid-1,  .grid-2, .grid-3, .grid-4, .grid-5, .grid-6{
		width: 400px;
		margin: auto;
	}
